@media only screen and (min-width: 992px) {
    aside{
        background-color : black;
        width: 18.8%;
        height: 100%;
     }
     aside.active{
        width: 8%;
     }
     
     
     .project-logo{
        height: 12%;
        display: flex;
        align-items:center;
     }
     #project-logo{
        margin-left: 10.4166666667% ;
        cursor: pointer;
     }
     #project-logo.active{
        margin-left: 40% ;
        cursor: pointer;
     }
     #project-name{
        margin-left: 4.51388888889%;
        font-family: Helvetica;
        font-size: 0.9114583333333334vw;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
     }
     #project-name.active{
        display: none;
     }
     #search{
        height: 16%;
        width: 5.55555555556%;
        margin-left: 35%;
        cursor: pointer;
     }
  
     #search.active{
        display: none;
     }
     .introduction{
        position: relative;
        display: flex;
        height: 12%;
        width: 100%;
        background-color: #202020;
        align-items: center;
     }
     .user-img{
        width : 18%;
        margin-left: 10.4166666667%;
     }
     .user-img.active{
        width : 40%;
        margin-left: 30%;
     }
     
     .name-position{
        margin-left: 5.20833333333%;
     }
     .name-position.active{
        display: none;
     }
     
     #user-name{
        font-family: Helvetica;
         font-size: 1.0416666666666667vw;
         color: #FFFFFF;
     }
     
     #user-pos{
        font-family: Helvetica;
        font-size: 0.78125vw;
        color: #9B9B9B;
     }
     .circle {
        background: #D8D8D8;
        border-radius: 50%;
        height: 5%;
        width: 1.73611111111%;
        margin-left: 0.69444444444%;
        cursor: pointer;
     }
     .circle.active{
        display: none;
     }
     #circle-first{
        margin-left: 20.1388888889%;
     }
     
     .left-menu{
        width: 100%;
        height: 50%;
     }
     .statis{
        margin-top: 5%;
        display: flex;
     }
     .statis.active{
        display: none;
     }

     .completed-tasks{
        cursor: pointer;
        margin-left: 13%;
        display: block;
     }
     .number-completed{
         font-family: Helvetica;
         font-size: 20px;
         color: #FFFFFF;
     }
     .completed{
        margin-top: 3%;
         opacity: 0.5;
         font-family: Helvetica;
         font-size: 12px;
         color: #FFFFFF;
     }
     .open-tasks{
        cursor: pointer;
        margin-left: 7%;
        display: block;
     }
     .number-open{
         font-family: Helvetica;
         font-size: 20px;
         color: #FFFFFF;
     }
     .open{
      margin-top: 3%;
         opacity: 0.5;
         font-family: Helvetica;
         font-size: 12px;
         color: #FFFFFF; 
     }
     
     .menu1{
        position: relative;
        margin-top: 10%;
        margin-left: 14%;
        font-family: Helvetica;
        font-size: 0.91vw;
        color: #878787;
     }
  
     .menu1.active{
        display: none;
     }
     
     .menu-list{
        color: white;
        margin-top: 0%;
        list-style-type: none;
        padding-left: 0;
     }
  
     .menu-list.active{
        display:none;
     }
  
     .menu-list li{
        padding-top: 6.3396465647%;
        margin-left: 14.5%;
        font-family: Helvetica;
        font-size: 0.9114583333333334vw;
        color: #FFFFFF;
        cursor: pointer;
     }
     .menu-list li:hover{
        background-color:#202020;
     }
     .menu-list-icons{
        display: none;
     }
    
     .menu-list-icons.active{
        display: block;
     }
     #home-img{
        cursor: pointer;
        margin-top: 20%;
        margin-left: 30%;
     }
     #home-img img{
        width: 40%;
        height: 40%;
     }
     #list-img{
        cursor: pointer;
        margin-top: 20%;
        margin-left: 30%;
     }
     #list-img img{
        width: 40%;
        height: 40%;
     }
     #notif-img{
        cursor: pointer;
        margin-top: 20%;
        margin-left: 30%;
     }
     #notif-img img{
        width: 40%;
        height: 40%;
     }
     
     .notifications{
        background: #65db04;
        border-radius: 50%;
        height: 5%;
        width: 6.944444444441%;
        margin-left: 3.5%;
        cursor: pointer;
     }
     #last-note{
        display: flex;
     }
     .notifications span{
        margin-left: 25%;
        font-family: Helvetica;
        font-size: 0.8463541666666666vw;
        color: #131313;
     }
}
@media only screen and (max-width: 992px){
    aside.active{
        width: 100%;
        height: 100%;
        
     }
     aside{
        width: 20%;
        height: 100%;
        background-color:black; 
     }
     .project-logo{
        
        height: 12%;
        width: 100%;
        display: flex;
        align-items:center;
     }
     #project-logo.active{
        height: 30%;
        width: 15%;
        margin-left: 7% ;
        cursor: pointer;
     }
     #project-logo{
        margin-left: 40px;
        width: 70px;
        height: 70px;
     }
     #project-name.active{
      display: block;
        font-family: Helvetica;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: 15%;
        font-size: 6vw;
     }
     #project-name{
        display: none;
     }
     #search.active{
      display: block;
        margin-left: 15%;
        height: 30%;
        width: 15%;
        cursor: pointer;
     }
     #search{
        display: none;
     }
     .introduction{
        position: relative;
        display: flex;
        height: 13.8408304498%;
        width: 100%;
        background-color: #202020;
        align-items: center;
     }
     .user-img.active{
      display: block;
        width : 12%;
        height : 48%;
        margin-left: 7%;
     }
     .user-img{
        margin-left: 25px;
        height: 115px;
        width: 115px;
     }
     .name-position.active{
      display: block;
        margin-left: 5.20833333333%;
     }
     .name-position{
        display: none;
     }
     .name-position table{
        white-space: nowrap;
        margin-left: 40%;
     }
     #user-name{
        font-family: Helvetica;
        font-size: 4vw;
        color: #FFFFFF;
     }
     
     #user-pos{
        font-family: Helvetica;
        font-size: 3vw;
        color: #9B9B9B;
     }
     .circle.active {
      display: block;
        background: #D8D8D8;
        border-radius: 50%;
        height: 5%;
        width: 1.73611111111%;
        margin-left: 0.69444444444%;
        cursor: pointer;
     }
     .circle{
        display: none;
     }
     #circle-first{
        margin-left: 40%;
     }
  
     .left-menu{
        width: 100%;
        height: 71%;
     }
     .statis.active{
      display: block;
        border-color: white;
        margin-top: 6.94444444444%;
        margin-left: 6.94444444444%;
        border-spacing: 50px; 
        padding: 0 5.11247443763%;
  
     }
     .statis{
        display: none;
     }
  
     .count-row{
        font-family: Helvetica;
        font-size: 4vw;
        color: #FFFFFF;
        cursor: pointer;
     }
     .tasks-row{
        opacity: 0.5;
        font-family: Helvetica;
        font-size: 4vw;
        color: #FFFFFF;
        cursor: pointer;
     }
     .menu1.active{
         display: block;
        position: relative;
        margin-top: 0;
        margin-left: 40%;
        font-family: Helvetica;
        font-size: 4vw;
        color: #878787;
     }
     .menu1{
        display: none;
     }
  
     .menu-list.active{
      display: block;
        color: white;
        margin-top: 10%;
        list-style-type: none;
        padding-left: 0;
     }
  
     .menu-list li{
        padding-top: 6.3396465647%;
        margin-left: 40%;
        font-family: Helvetica;
        font-size: 4vw;
        color: #FFFFFF;
        cursor: pointer;
     }
     
     .menu-list{
        display: none;
     }
     .menu-list-icons.active{
        display: none;
     }
     .menu-list-icons{
        display: block;
     }
     .notifications{
        background: #65db04;
        border-radius: 50%;
        height: 5%;
        width: 8%;
        margin-left: 3.5%;
        cursor: pointer;
     }
     .notifications span{
        margin-left: 30%;
        font-family: Helvetica;
        font-size: 3vw;
        color: #131313;
     }
     
     #last-note{
        display: flex;
     }
     #home-img{
        cursor: pointer;
        margin-top: 60px;
        margin-left: 40px;
     }
     #home-img img{
        width: 70px;
        height: 70px;
     }
     #list-img{
        cursor: pointer;
        margin-top: 60px;
        margin-left: 40px;
     }
     #list-img img{
        width: 70px;
        height: 70px;
     }
     #notif-img{
        cursor: pointer;
        margin-top: 60px;
        margin-left: 40px;
     }
     #notif-img img{
        width: 70px;
        height: 70px;
     }
}