@media only screen and (min-width: 992px) {
    nav{
        display: block;
        width: 81.3%;
        height: 15.5% ;
        background-color: white;
     }
     nav.active{
        width: 92%;
        height: 15.5% ;
        background-color: white;
     }
     .top-head-sidebar{
        display: flex;
        width: 100%;
        height: 70%;
        background-color:white;
     }
     
     #img-shapes{
        margin-top: 2%;
        margin-left: 2%;
        width: 3.24%;
        height: 51.5%;
        background-color:yellow;
        border-radius: 25%;
     }
     #span-redesign{
        margin-top: 2%;
        margin-left: 1.225%;
        font-family: Helvetica;
        font-size: 2.0833333333333335vw;
         color: #131313;
     }
     .etc{
        margin-left: 1.2%;
        margin-top: 2.2%;
        cursor: pointer;
        display: flex;
        height: 38.33%;
        width: 2.435%;
        background: #EAEAEA;
        border-radius: 50%;
     }
     .circle-etc{
        background: #9B9B9B;
        border-radius: 50%;
        height: 13.5%;
        width: 13.5%;
        margin-top: 45%;
        margin-left:5%;
        cursor: pointer;
     }
     #first-circle-etc{
        margin-left: 25%;
     }
     .users-photo{
        margin-top: 2.2%;
        margin-left: 0.3%;
        height: 38.33%;
        width: 2.435%;
     }
     #first-users-photo{
        margin-left: 43%;
     }
     .share{
        cursor:pointer;
        display: flex;
        margin-top: 2.2%;
        margin-left: 1.3%;
        background: #EAEAEA;
        height: 38.33%;
        width: 5%;
        border-radius: 15px;
     }
     .share span{
        margin-top: 10%;
        margin-left: 18%;
        font-family: Helvetica;
        font-size: 0.9114583333333334vw;
        color: #131313;
     }
     .chat{
        cursor:pointer;
        display: flex;
        margin-top: 2.2%;
        margin-left: 1.3%;
        background: #EAEAEA;
        height: 38.33%;
        width: 7%;
        border-radius: 15px;
     }
     .chat span{
        margin-top: 9%;
        margin-left: 40%;
        font-family: Helvetica;
        font-size:0.9114583333333334vw;
        color: #FFC200;
     }
     .head-sidebar-menu{
        width: 100%;
        height: 30%;
        background:white;
     }
     .head-sidebar-menu ul{
        display: flex; 
        margin-left: -1%;      
    }
    .head-sidebar-menu li a{
     opacity : 0.7;
     font-family : Helvetica;
     font-size : 1.0416666666666667vw;
     color : #131313;
     text-decoration : none;
     }
     .head-sidebar-menu li{
        margin-left: 2.2%;
        list-style-type: none;
     }
     .head-sidebar-menu li:hover{
        background-color:#9B9B9B;
        ;
     }
     #first-li{
        margin-left: 0;
     }
     #select-tasks.active1 {
        display: block;
         position: absolute;
         margin-left: 5px;
         margin-top: 0px;
         width: 80px;
         height: 3px;
         background: yellow;
      }
      #select-tasks {
         display: none;
      }
      
      #select-kanban.active1 {
         display: block;
         position: absolute;
         margin-left: 85px;
         margin-top: 0px;
         width: 80px;
         height: 3px;
         background: yellow;
      }
      #select-kanban{
         display: none;
      }
      #select-activity.active1 {
         display: block;
         position: absolute;
         margin-left: 165px;
         margin-top: 0px;
         width: 80px;
         height: 3px;
         background: yellow;
      }
      #select-activity{
         display: none;
      }
      #select-calendar.active1 {
         display: block;
         position: absolute;
         margin-left: 245px;
         margin-top: 0px;
         width: 90px;
         height: 3px;
         background: yellow;
      }
      #select-calendar{
         display: none;
      }
      #select-files.active1 {
         display: block;
         position: absolute;
         margin-left: 335px;
         margin-top: 0px;
         width: 60px;
         height: 3px;
         background: yellow;
      }
      #select-files{
         display: none;
      }

}
@media only screen and (max-width: 992px){
    nav.active{
        display: none;
     }
     nav{
        width: 100%;
        height: 250px;
        background-color:#FFFF;
        display: block;
     }
     .top-head-sidebar{
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
     }
     #img-shapes{
        margin-top: 15px;
        margin-left: 25px;
        background-color:chartreuse;
        border-radius:15px;
        height: 80px;
        width: 80px;
     }
     #span-redesign{
        margin-top: 5px;
        margin-left:40px;
        font-family: Helvetica;
        font-size: 3.601108033240997vh;
        color: #131313;
     }
     .etc{
        display: none;
     }
     .users-photo{
        display: none;
     }
     .share{
        display: none;
     }
     .chat{
        display: none;
     }
     .head-sidebar-menu{
        display: none;
     }
}