@media only screen and (min-width: 992px) {
   html{
      height: 100%;
      width: 100%;
     }
   
   body{
      margin: 0;
      width: 100%;
      height: 100%;
      display: flex;
      background-color: #E8E8E8;
   }
   
   .left-sidebar{
      background-color : black;
      width: 18.8%;
      height: 100%;
   }
   .left-sidebar.active{
      width: 8%;
   }
   
   
   .project-logo{
      height: 12%;
      display: flex;
      align-items:center;
   }
   #project-logo{
      margin-left: 10.4166666667% ;
      cursor: pointer;
   }
   #project-logo.active{
      margin-left: 40% ;
      cursor: pointer;
   }
   #project-name{
      margin-left: 4.51388888889%;
      font-family: Helvetica;
      font-size: 0.9114583333333334vw;
      color: #FFFFFF;
      text-transform: uppercase;
      cursor: pointer;
   }
   #project-name.active{
      display: none;
   }
   #search{
      height: 16%;
      width: 5.55555555556%;
      margin-left: 35%;
      cursor: pointer;
   }

   #search.active{
      display: none;
   }
   .introduction{
      position: relative;
      display: flex;
      height: 13.8408304498%;
      width: 100%;
      background-color: #202020;
      align-items: center;
   }
   .user-img{
      width : 16.6666666667%;
      height : 48%;
      margin-left: 10.4166666667%;
   }
   .user-img.active{
      width : 40%;
      margin-left: 30%;
   }
   
   .name-position{
      margin-left: 5.20833333333%;
   }
   .name-position.active{
      display: none;
   }
   
   #user-name{
      font-family: Helvetica;
       font-size: 1.0416666666666667vw;
       color: #FFFFFF;
   }
   
   #user-pos{
      font-family: Helvetica;
      font-size: 0.78125vw;
      color: #9B9B9B;
   }
   .circle {
      background: #D8D8D8;
      border-radius: 50%;
      height: 5%;
      width: 1.73611111111%;
      margin-left: 0.69444444444%;
      cursor: pointer;
   }
   .circle.active{
      display: none;
   }
   #circle-first{
      margin-left: 20.1388888889%;
   }
   
   .left-menu{
      width: 100%;
      height: 71%;
   }
   .statis{
      border-color: white;
      margin-top: 6.94444444444%;
      margin-left: 6.94444444444%;
      border-spacing: 5px; 
      padding: 0 5.11247443763%;

   }

   .statis.active{
      display: none;
   }

   .count-row{
      font-family: Helvetica;
      font-size: 1.3020833333333333vw;
      color: #FFFFFF;
      cursor: pointer;
   }
   .tasks-row{
      opacity: 0.5;
      font-family: Helvetica;
      font-size: 0.78125vw;
      color: #FFFFFF;
      cursor: pointer;
   }
   .menu1{
      position: absolute;
      margin-top: 2%;
      margin-left: 2.7%;
      font-family: Helvetica;
      font-size: 0.91vw;
      color: #878787;
   }

   .menu1.active{
      display: none;
   }
   
   .menu-list{
      color: white;
      margin-top: 19%;
      list-style-type: none;
      padding-left: 0;
   }

   .menu-list.active{
      display:none;
   }

   .menu-list li{
      padding-top: 6.3396465647%;
      margin-left: 14.5%;
      font-family: Helvetica;
      font-size: 0.9114583333333334vw;
      color: #FFFFFF;
      cursor: pointer;
   }
   .menu-list li:hover{
      background-color:#202020;
   }
   .menu-list-icons{
      display: none;
   }
  
   .menu-list-icons.active{
      display: block;
   }
   #home-img{
      cursor: pointer;
      margin-top: 20%;
      margin-left: 30%;
   }
   #home-img img{
      width: 40%;
      height: 40%;
   }
   #list-img{
      cursor: pointer;
      margin-top: 20%;
      margin-left: 30%;
   }
   #list-img img{
      width: 40%;
      height: 40%;
   }
   #notif-img{
      cursor: pointer;
      margin-top: 20%;
      margin-left: 30%;
   }
   #notif-img img{
      width: 40%;
      height: 40%;
   }
   
   .notifications{
      background: #65db04;
      border-radius: 50%;
      height: 5%;
      width: 6.944444444441%;
      margin-left: 3.5%;
      cursor: pointer;
   }
   #last-note{
      display: flex;
   }
   .notifications span{
      margin-left: 25%;
      font-family: Helvetica;
      font-size: 0.8463541666666666vw;
      color: #131313;
   }

   .head-sidebar{
      display: block;
      width: 81.3%;
      height: 15.5% ;
      background-color: white;
   }
   .head-sidebar.active{
      width: 92%;
      height: 15.5% ;
      background-color: white;
   }
   .top-head-sidebar{
      display: flex;
      width: 100%;
      height: 70%;
      background-color:white;
   }
   
   #img-shapes{
      margin-top: 2%;
      margin-left: 2%;
      width: 3.24%;
      height: 51.5%;
      background-color:yellow;
      border-radius: 25%;
   }
   #span-redesign{
      margin-top: 2%;
      margin-left: 1.225%;
      font-family: Helvetica;
      font-size: 2.0833333333333335vw;
       color: #131313;
   }
   .etc{
      margin-left: 1.2%;
      margin-top: 2.2%;
      cursor: pointer;
      display: flex;
      height: 38.33%;
      width: 2.435%;
      background: #EAEAEA;
      border-radius: 50%;
   }
   .circle-etc{
      background: #9B9B9B;
      border-radius: 50%;
      height: 13.5%;
      width: 13.5%;
      margin-top: 45%;
      margin-left:5%;
      cursor: pointer;
   }
   #first-circle-etc{
      margin-left: 25%;
   }
   .users-photo{
      margin-top: 2.2%;
      margin-left: 0.3%;
      height: 38.33%;
      width: 2.435%;
   }
   #first-users-photo{
      margin-left: 43%;
   }
   .share{
      cursor:pointer;
      display: flex;
      margin-top: 2.2%;
      margin-left: 1.3%;
      background: #EAEAEA;
      height: 38.33%;
      width: 5%;
      border-radius: 15px;
   }
   .share span{
      margin-top: 10%;
      margin-left: 18%;
      font-family: Helvetica;
      font-size: 0.9114583333333334vw;
      color: #131313;
   }
   .chat{
      cursor:pointer;
      display: flex;
      margin-top: 2.2%;
      margin-left: 1.3%;
      background: #EAEAEA;
      height: 38.33%;
      width: 7%;
      border-radius: 15px;
   }
   .chat span{
      margin-top: 9%;
      margin-left: 40%;
      font-family: Helvetica;
      font-size:0.9114583333333334vw;
      color: #FFC200;
   }
   .head-sidebar-menu{
      width: 100%;
      height: 30%;
      background:white;
   }
   .head-sidebar-menu ul{
      display: flex; 
      margin-left: -1%;      
  }
  .head-sidebar-menu li a{
   opacity : 0.7;
   font-family : Helvetica;
   font-size : 1.0416666666666667vw;
   color : #131313;
   text-decoration : none;
   }
   .head-sidebar-menu li{
      margin-left: 2.2%;
      list-style-type: none;
   }
   .head-sidebar-menu li:hover{
      background-color:#9B9B9B;
      ;
   }
   #first-li{
      margin-left: 0;
   }
   .content{
      display: block;
      background: #FFFFFF;
      border-radius: 8px;  
      position: absolute;
      bottom: 0;
      width: 50.7%;
      height: 75%;
      margin-bottom: 2.5%;
      margin-left: 34%;
   }

   #day{
      opacity: 0.5;
      font-family: Helvetica;
      font-size: 0.9114583333333334vw;
      color: #131313;
      text-transform: uppercase;
      margin-top: 3%;
      margin-left: 4%;
   }
   .message{
      width: 100%;
      height: 8.3%;
      margin-top: 3.6%;
      display: flex;
   }
   .icon{
      margin-left: 4%;
      height: 100%;
      width: 5.53%;
      border-radius: 50%;
      background-color:  #CEF9C6;
   }
   .text-message{
      width: 60%;
      height: 100%;
      margin-left: 20px;
      font-family: Helvetica;
      font-size: 1.0416666666666667vw;
      color: #131313;
      line-height: 20px;
   }
   .time-message{
      opacity: 0.7;
      font-family: Helvetica;
      font-size: 0.9114583333333334vw;
      color: #131313;
      line-height: 20px;
      margin-left: 15%;
   }
   .tip{
      background: #F7F6F3;
      border-radius: 10px;
       width: 75.5208333333%;   
      height:16.0116448326%;   
      margin-top: 2.74122807018%;
      margin-left: 12.4725877193%;
      display: flex;
  
  }
  .class{
      width: 94.555353902%;   
      height: 77.2727272727%;   
      margin-left: 5.444646098%;
      margin-top: 3.62976406534%;   
      font-family: Helvetica;
      font-size: 0.9765625vw;
      color: #131313;
      width: 94.43378119%;
      height: 70.5882352941%;
      line-height: 20px;
  }
  .pictures{
   height: 18.19505094614265%;
   width: 87.6644736842%;
   margin-top: 2.74122807018%;
   margin-left: 12.4725877193%;
   display: flex;
}
.photo{
   margin-left: 1.56347717323%;
   border-radius: 8%;
   width: 15.6347717323%;
   height:100%; 
   background: black;
}
#first-photo{
   margin-left: 0;
}

}
@media only screen and (max-width: 992px){
   html{
      height: 100%;
      width: 100%;
     }
   
   body{
      margin: 0;
      width: 100%;
      height: 100%;
      display: flex;
      background-color: #E8E8E8;
   }
   .left-sidebar{
      width: 100%;
      height: 100%;
      background-color:black; 
   }
   .left-sidebar.active{
      width: 20%;
      height: 100%;
   }
   .project-logo{
      height: 12%;
      width: 100%;
      display: flex;
      align-items:center;
   }
   #project-logo{
      height: 30%;
      width: 15%;
      margin-left: 7% ;
      cursor: pointer;
   }
   #project-logo.active{
      margin-left: 40px;
      width: 70px;
      height: 70px;
   }
   #project-name{
      font-family: Helvetica;
      color: #FFFFFF;
      text-transform: uppercase;
      cursor: pointer;
      margin-left: 15%;
      font-size: 6vw;
   }
   #project-name.active{
      display: none;
   }
   #search{
      margin-left: 15%;
      height: 30%;
      width: 15%;
      cursor: pointer;
   }
   #search.active{
      display: none;
   }
   .introduction{
      position: relative;
      display: flex;
      height: 13.8408304498%;
      width: 100%;
      background-color: #202020;
      align-items: center;
   }
   .user-img{
      width : 12%;
      height : 48%;
      margin-left: 7%;
   }
   .user-img.active{
      margin-left: 25px;
      height: 115px;
      width: 115px;
   }
   .name-position{
      margin-left: 5.20833333333%;
   }
   .name-position.active{
      display: none;
   }
   .name-position table{
      white-space: nowrap;
      margin-left: 40%;
   }
   #user-name{
      font-family: Helvetica;
      font-size: 4vw;
      color: #FFFFFF;
   }
   
   #user-pos{
      font-family: Helvetica;
      font-size: 3vw;
      color: #9B9B9B;
   }
   .circle {
      background: #D8D8D8;
      border-radius: 50%;
      height: 5%;
      width: 1.73611111111%;
      margin-left: 0.69444444444%;
      cursor: pointer;
   }
   .circle.active{
      display: none;
   }
   #circle-first{
      margin-left: 40%;
   }

   .left-menu{
      width: 100%;
      height: 71%;
   }
   .statis{
      border-color: white;
      margin-top: 6.94444444444%;
      margin-left: 6.94444444444%;
      border-spacing: 50px; 
      padding: 0 5.11247443763%;

   }
   .statis.active{
      display: none;
   }

   .count-row{
      font-family: Helvetica;
      font-size: 4vw;
      color: #FFFFFF;
      cursor: pointer;
   }
   .tasks-row{
      opacity: 0.5;
      font-family: Helvetica;
      font-size: 4vw;
      color: #FFFFFF;
      cursor: pointer;
   }
   .menu1{
      position: absolute;
      margin-top: 2%;
      margin-left: 40%;
      font-family: Helvetica;
      font-size: 4vw;
      color: #878787;
   }
   .menu1.active{
      display: none;
   }

   .menu-list{
      color: white;
      margin-top: 19%;
      list-style-type: none;
      padding-left: 0;
   }

   .menu-list li{
      padding-top: 6.3396465647%;
      margin-left: 40%;
      font-family: Helvetica;
      font-size: 4vw;
      color: #FFFFFF;
      cursor: pointer;
   }
   
   .menu-list.active{
      display: none;
   }
   .menu-list-icons{
      display: none;
   }
   .menu-list-icons.active{
      display: block;
   }
   .notifications{
      background: #65db04;
      border-radius: 50%;
      height: 5%;
      width: 8%;
      margin-left: 3.5%;
      cursor: pointer;
   }
   .notifications span{
      margin-left: 30%;
      font-family: Helvetica;
      font-size: 3vw;
      color: #131313;
   }
   
   #last-note{
      display: flex;
   }
   #home-img{
      cursor: pointer;
      margin-top: 60px;
      margin-left: 40px;
   }
   #home-img img{
      width: 70px;
      height: 70px;
   }
   #list-img{
      cursor: pointer;
      margin-top: 60px;
      margin-left: 40px;
   }
   #list-img img{
      width: 70px;
      height: 70px;
   }
   #notif-img{
      cursor: pointer;
      margin-top: 60px;
      margin-left: 40px;
   }
   #notif-img img{
      width: 70px;
      height: 70px;
   }

   .head-sidebar{
      display: none;
   }
   .head-sidebar.active{
      width: 100%;
      height: 250px;
      background-color:#FFFF;
      display: block;
   }
   .top-head-sidebar{
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
   }
   #img-shapes{
      margin-top: 15px;
      margin-left: 25px;
      background-color:chartreuse;
      border-radius:15px;
      height: 80px;
      width: 80px;
   }
   #span-redesign{
      margin-top: 5px;
      margin-left:40px;
      font-family: Helvetica;
      font-size: 3.601108033240997vh;
      color: #131313;
   }
   .etc{
      display: none;
   }
   .users-photo{
      display: none;
   }
   .share{
      display: none;
   }
   .chat{
      display: none;
   }
   .head-sidebar-menu{
      display: none;
   }
   .content{
      display: none;
   }
   .content.active{
      display: block;
      background: #FFFFFF;
      border-radius: 8px;  
      position: absolute;
      bottom: 0;
      width: 80%;
      top:300px;
      height: 3000px;
      margin-left: 175px;
   }
   #day{
      opacity: 0.5;
      font-family: Helvetica;
      font-size: 1.9390581717451523vh;
      color: #131313;
      text-transform: uppercase;
      margin-top: 44px;
      margin-left: 32px;
   }
   .message{
      width: 100%;
      height: 200px;
      margin-top: 60px;
      display: flex;
   }
   .text-message{
      width: 80%;
      height: 100%;
      margin-left: 20px;
      font-family: Helvetica;
      font-size: 2.21606648199446vh;
      color: #131313;
      line-height: 50px;
   }
   .time-message{
      opacity: 0.7;
      font-family: Helvetica;
      font-size: 2.21606648199446vh;
      color: #131313;
      line-height: 50px;
      margin-left: 15%;
   }
   .tip{
      background: #F7F6F3;
      border-radius: 10px;
       width: 593px;   
      height:350px;   
      margin-top: 60px;
      margin-left: 100px;
      display: flex;
  
  }
  .class{ 
      margin-left: 32px;
      margin-top: 21px;   
      font-family: Helvetica;
      font-size: 2.21606648199446vh;
      color: #131313;
      width: 94.43378119%;
      height: 70.5882352941%;
      line-height: 50px;
  }
  .pictures{
     height: 600px;
   margin-top: 50px;
   margin-left: 50px;
   display: block;
}
.photo{
   margin-top:20px;
   border-radius: 8%;
   width: 400px;
   height:400px; 
   background: black;
   margin-left: 100px;
}
#first-photo{
   margin-top: 20px;
   margin-left: 100px;
}
}
